#character{
    border: 1px solid black;
    border-radius: 0.3em;
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #c6b463;
    padding: 0 0.11em;
}

#name{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c7b76e;
    width: 95%;
    height: 1.75em;
    font-size: clamp(0.5em, 1.5vw, 5rem);;
    color: rgb(20, 20, 0);
    margin: 0.5em;
    border: 3px solid #522d01;
    border-radius: 0.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#image{
    width: 90%;
    margin-bottom: 0.2em;
}

#values{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
}

button{
    color: black;
    background-color: #c7b76e;
    width: 98%;
    margin: 0.1em;
    display: flex;
    justify-content: space-between;
    padding: 0.05em 0.1em;
    border: 2px solid #867400;
    border-radius: 0.2em;
}

button:hover{
    background-color: #a8984d;
    color: rgb(25,25,25);
}

#combat{
    margin-bottom: 0.5em;
}