footer{
    height: 2.4em;
    background-color: rgb(0, 0, 100);
    color: rgb(200, 200, 250);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#authors{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 0.8em;
}

ul, li {
    list-style: none;
    margin: 0 0 0 0.25em;
    padding: 0;
}

li{
    font-size: 0.55em;
}

#Git-Proj{
    text-align: right;
    font-size: 0.7em;
}

a:hover{
    color: rgb(150, 150, 175);
}