header{
    background-color: rgb(0, 0, 100);
    display: flex;
    height: 2em;
    align-items: center;
    color: rgb(200, 200, 250);
    font-size: 1.5em;
    .img-icon{
        height: 2em;
        width: auto;
    }
}

a:hover{
    color: rgb(150, 150, 175);
}

.Sites{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    width: 93%;
}