h1{
    text-align: center;
    color: rgb(0, 0, 40);
}

main{
    height: 87vh;
    padding: 1em;
    background-image: url('public/fundoMenu.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-form {
    height: 60vh;
    margin: 7em 0 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 40);
}

.ColetaDados{
    background-color: rgb(0, 158, 200);
    border: 1px solid black;
    border-radius: 2rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-input {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0.5em 0;
}

.user-input img {
    height: 2em;
    width: auto;
}

#email {
    border-radius: 2rem;
    text-align: center;
    background-color: rgb(130, 200, 220);
}

#password {
    border-radius: 2rem;
    text-align: center;
    background-color: rgb(130, 200, 220);
}

button {
    width: 80%;
    margin: 0.5em 0;
    border-radius: 2rem;
    text-align: center;
    height: 2rem;
    background-color: rgb(120, 190, 255);
}

button:hover{
    color: rgb(125, 145, 155);
    background-color: rgb(10, 20, 30)
}