h2{
    text-align: center;
    margin-top: 2em;
    color: rgb(10, 10, 85);
    background-color: rgb(100, 150, 175);
}

.FormCreate{
    border: 0.15em solid rgb(0, 75, 100);
    margin: 7em auto;
    border-radius: 0.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    background-color: rgb(0, 50, 70);
    section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0.2em 0;
        width: 90%;
        input{
            flex: 2;
            text-align: center;
            width: 70%;
            background-color: darkorange;
            border: none;
            border-radius: 0.3em;
            margin: 0.2em 0;
        }
        label{
            flex: 1;
            text-align: left;
            width: 25%;
            font-size: 0.75em;
            color: darkgoldenrod;
        }
    }
    div{
        width: 90%;
        input{
            flex: 2;
            text-align: center;
            background-color: darkorange;
            border: none;
            border-radius: 0.3em;
            margin: 0.2em -1.2em 0.2em 0;
        }
        label{
            flex: 1;
            text-align: left;
            width: 30%;
            font-size: 0.8em;
            margin-right: 1.1em;
            color: darkgoldenrod;
        }
    }
    button{
        background-color: rgb(207, 83, 0);
        font-size: 0.75em;
        padding: 0.1em;
        margin: 0.25em;
        width: 90%;
        display: flex;
        justify-content: center;
    }
    button:hover{
        color: rgb(146, 213, 255);
    }
    button a:hover{
        color: rgb(146, 213, 255);
    }
}